<h1><%= @letter.title %></h1>
<p><%= @letter.subtitle %></p>
<div>
<%= render 'application/link', text: "To Dashboard", path: dashboard_path %>
</div>
<%= link_to "Download PDF", url_for(@letter.pdf) if @letter.pdf.attached? %>