<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <% if user_signed_in? %>
      <h2 class="card-title">Welcome Home, <%= current_user.email %></h2>
      
      <%= link_to "Dashboard", dashboard_path %>
    <% else %>
      <h2>Sign In</h2>

      <%= button_to "Sign in with Google", 
        user_google_oauth2_omniauth_authorize_path,
        method: :post, 
        data: { turbo: false },
        class: "btn" 
      %>  

    <% end %>
  </div>
</div>

