<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %></h1>
  <%= link_to "Dashboard", dashboard_path %>
<% else %>
  <h1>Home</h1>
  <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } %>  
<% end %>