/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section.content {
  width: 900px;
  margin: 0 24px;
  padding-bottom: 32px;
}

.board-container {
  position: relative;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.board {
  display: flex;
  flex-direction: row;
  min-height: 60vh;
  width: 100%;
  min-width: 48em;
  max-width: 64em;
  padding: 1rem 0.5rem;
  background-color: #e1e3ec;
  border-radius: 36px;
}

.board > .status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  padding: 0 0.5rem;
}

.status:not(:last-child) {
  border-right: 1px solid #c3c3c3;
}

.status > .title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100px;
  width: 100%;
  border-radius: 24px;
}

.status > .space {
  height: 1rem;
  width: 100%;
}

.status > .job-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 0.3rem;
}

.job-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100px;
}

.card {
  padding: 12px;
  background-color: #fff;
  border-radius: 24px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.grabbable {
  cursor: grab;
  cursor: -webkit-grab;
  box-shadow: #9e9e9e 0px 1px 5px 0px;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  background-color: #e6e6e6;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 64em) {
  .board-container {
    align-items: flex-start;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (max-width: 80em) {
}
