/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.grabbable {
  cursor: grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 64em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (max-width: 80em) {
}
