/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --surface-color: #e6e8ec;
  --surface-hover-color: #dfe2e7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  padding-bottom: 18px;
}

section.dashboard {
  width: 900px;
}

section.content {
  width: 500px;
}

.item {
  position: relative;
  display: inline-block;
  padding: 12px;
  margin: 0;
  width: 100%;
  background-color: var(--surface-color);
  border-radius: 4px;
  overflow: hidden;
}

.grabbable {
  cursor: grab;
  cursor: -webkit-grab;
}

.grabbable:hover {
  background-color: var(--surface-hover-color);
}

.grabbable:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 64em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (max-width: 80em) {
}
