form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field_with_errors > input {
  border: red 1px solid;
  width: 100%;
}

.field > input {
  width: 100%;
}

.field > textarea {
  width: 100%;
  min-height: 200px;
}

.field_with_errors > textarea {
  width: 100%;
  min-height: 200px;
  border: red 1px solid;
}

.field > select {
  width: 100%;
}
