nav {
  width: 100vw;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 128px;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.auth > span {
  position: absolute;
  top: 24px;
  opacity: 0.5;
  font-size: 0.6rem;
}
