

<div class="navbar">
  <div class="flex-1">
    <h2 class="text-xl"><%= title %></h2>
  </div>
  <div class="flex-none">
    <%= link_to action_label, action_route, class: "btn btn-ghost" %>
  </div>
</div>